# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Credentials fils
V1_TeaSpike/include/credentials.h

#VSCode
V1_TeaSpike/.pio
V1_TeaSpike/.vscode/.browse.c_cpp.db*
V1_TeaSpike/.vscode/c_cpp_properties.json
V1_TeaSpike/.vscode/launch.json
V1_TeaSpike/.vscode/ipch
V1_TeaSpike/.vscode/extensions.json
V0/librerias.zip

#Manual in Word
Spike V2 User Manual.docx